In [1]:
import pandas as pd

## Ejercicio 1

In [4]:
data = {"nombre" : ['Ana', 'Luis', 'Carlos'], "edad": [30,25,40]}
df_empleados = pd.DataFrame(data)
print(df_empleados)

   nombre  edad
0     Ana    30
1    Luis    25
2  Carlos    40

## Ejercicio 2

In [6]:
data = {"nombre" : ['Ana', 'Luis', 'Carlos'], "edad": [30,25,40]}
df_empleados = pd.DataFrame(data)
edades = df_empleados['edad']
print(edades)
type(edades)

0    30
1    25
2    40
Name: edad, dtype: int64

pandas.core.series.Series

## Ejercicio 3

In [8]:
data = {"nombre" : ['Ana', 'Luis', 'Carlos'], "edad": [30,25,40]}
df_empleados = pd.DataFrame(data)
shape_df = df_empleados.shape
columns_df = df_empleados.columns
index_df = df_empleados.index
print(shape_df)
print(columns_df)
print(index_df)

(3, 2)
Index(['nombre', 'edad'], dtype='object')
RangeIndex(start=0, stop=3, step=1)

## Ejercicio 4

In [9]:
datos_clima = pd.read_csv('Precipitaciones.csv')

## Ejercicio 5

In [ ]:
datos_clima = pd.read_csv('Precipitaciones.csv')
describe_df = datos_clima.describe()
describe_df

,enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre,anual
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,92.996154,78.632692,26.684615,64.500000,38.305769,54.182692,11.840385,17.178846,62.246154,54.373077,82.494231,76.192308,659.626923
std,57.127171,67.454280,31.473913,21.421942,29.079576,36.821635,13.256390,13.939496,28.581205,36.619785,91.689789,80.409042,352.905548
min,26.800000,2.300000,3.300000,3.500000,0.700000,1.100000,0.000000,0.000000,0.900000,1.000000,7.100000,1.800000,108.200000
25%,53.825000,32.825000,9.125000,53.950000,18.875000,26.325000,1.600000,4.850000,46.000000,29.825000,32.375000,22.075000,455.925000
50%,73.950000,62.600000,17.200000,62.700000,35.650000,50.400000,6.150000,16.500000,62.300000,46.550000,46.950000,47.950000,548.550000
75%,97.300000,102.550000,35.425000,77.625000,48.750000,78.025000,17.875000,26.550000,81.625000,74.500000,102.725000,107.000000,665.150000
max,261.900000,335.700000,209.800000,128.400000,149.500000,145.000000,46.800000,57.000000,122.800000,175.700000,384.600000,314.700000,1575.400000

## Ejercicio 6

In [17]:
datos_clima = pd.read_csv('Precipitaciones.csv')
head_df = datos_clima.head(1)
tail_df = datos_clima.tail(1)

## Ejercicio 7

In [ ]:
mi_serie = pd.Series([4,7,-5,3])
print(mi_serie)

0    4
1    7
2   -5
3    3
dtype: int64

## Ejercicio 8

In [19]:
data = [10, 20, 30, 40]
indices = ['a', 'b', 'c', 'd']
serie_con_indices = pd.Series(data,indices)
valor_c = serie_con_indices['c']

def imprimir_valor_c():
    print(valor_c)

imprimir_valor_c()

30

## Ejercicio 09

In [22]:
dic = {'a': 30, 'b':70, 'c':160, 'd':50}
serie_desde_diccionario = pd.Series(dic)
suma_ad = serie_desde_diccionario['a'] + serie_desde_diccionario['d']

def imprimir_suma_ad():
    print(suma_ad)

imprimir_suma_ad()

80

## Ejercicio 10

In [23]:
serie1 = pd.Series([1,2,3])
serie2 = pd.Series([4,5,6])
serie_sumada = serie1 + serie2
print(serie_sumada)

0    5
1    7
2    9
dtype: int64

## Ejercicio 11

In [24]:
serie_numerica = pd.Series([1, 2, 3])
serie_doble = serie_numerica * 2
serie_dividida = serie_numerica / 10
print(serie_doble)
print(serie_dividida)

0    2
1    4
2    6
dtype: int64
0    0.1
1    0.2
2    0.3
dtype: float64