In [2]:
import pandas as pd

## Ejercicio 1

In [3]:
dic = {
    "Titulo": ["El Quijote", "Cien años de soledad", "La odisea"], 
    "Autor" : ["Miguel de Cervantes", "Gabriel García Márquez", "Homero"], 
    "Año": [1605, 1967, -800]
}
libros_df = pd.DataFrame(dic)

## Ejercicio 2

In [ ]:
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Sara'],
    'Edad': [25, 30, 22, 27],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Bilbao']
}
df = pd.DataFrame(data)
df_filtrado = df[df['Edad'] >= 25]
df_filtrado

  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Luis    30  Barcelona
3   Sara    27     Bilbao

## Ejercicio 3

In [6]:
data = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Sara'],
    'Edad': [25, 30, 22, 27],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Bilbao']
}
df = pd.DataFrame(data)
df["Edad_en_10_años"] = df["Edad"] + 10
df["Ciudad"] = df['Ciudad'].str.upper()
df["Es_Mayor_de_25"] = df["Edad"] >= 25
df

   Nombre  Edad     Ciudad  Edad_en_10_años  Es_Mayor_de_25
0     Ana    25     MADRID               35            True
1    Luis    30  BARCELONA               40            True
2  Carlos    22   VALENCIA               32           False
3    Sara    27     BILBAO               37            True