# Proyecto del Día 7 - Analizador de Ventas

### Objetivo
Crear un programa en Python que analice un conjunto de **datos de ventas de una tienda**. El programa debe realizar varias operaciones de Data Science para proporcionar información valiosa sobre las ventas de la tienda.

### Consigna

1. **Lectura de Datos**: Crea un DataFrame que contenga los datos provistos en el archivo **Datos_Ventas_Tienda.csv** provisto en esta lección. El archivo incluirá información como *fecha de venta*, *categoría de producto*, *cantidad vendida* y *precio*.
2. **Fusión de Datos**: Crea un segundo DataFrame que contenga los datos del archivo **Datos_Ventas_Tienda2.csv** (también provisto en esta lección), y concaténalos para tener un solo dataFrame con toda la información.

3. **Tratamiento de Datos**: Utiliza Pandas para manipular estos datos. Deberás realizar tareas como limpieza de datos, filtrado y  transformaciones básicas.
4. **Análisis de Ventas**: Realiza análisis para responder preguntas como:
- ¿Cuál es el producto más vendido?
- ¿Cuál es el mes con más ventas?
5. **Datos Agrupados**: Agrupa los datos por categoría de producto y analiza las ventas por categoría.
6. **Guardar Resultados**: Al final, guarda el DataFrame completo (incluyendo la columna de meses) en un archivo .csv en tu ordenador.

## 0. Importamos librerias

In [1]:
import pandas as pd

## 1. Lectura de datos

In [2]:
df = pd.read_csv('Datos_Ventas_Tienda.csv')
df.head(10)

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0  1/17/2023  Electrónic         7              200         1400
1   9/1/2023  Electrónic         8              200         1600
2  7/29/2023    Juguetes         3               30           90
3  10/4/2023   Alimentos         4               10           40
4  2/28/2023  Electrónic         6              200         1200
5  3/11/2023        Ropa         9               50          450
6  11/3/2023    Juguetes         4               30          120
7  11/8/2023        Ropa         9               50          450
8  3/22/2023        Ropa        10               50          500
9  9/29/2023        Ropa         1               50           50

## 2. Fusión de datos

In [3]:
df2 = pd.read_csv('Datos_Ventas_Tienda2.csv')
df_concat = pd.concat([df, df2], ignore_index=True)
df_concat

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     1/17/2023  Electrónic         7              200         1400
1      9/1/2023  Electrónic         8              200         1600
2     7/29/2023    Juguetes         3               30           90
3     10/4/2023   Alimentos         4               10           40
4     2/28/2023  Electrónic         6              200         1200
...         ...         ...       ...              ...          ...
1045  9/11/2023    Juguetes        10               30          300
1046   1/3/2023    Juguetes        10               30          300
1047  11/7/2023   Alimentos         3               10           30
1048  8/20/2023  Electrónic         6              200         1200
1049  7/21/2023    Juguetes         3               30           90

[1050 rows x 5 columns]

## 3. Tratamiento de datos

In [4]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Fecha            1050 non-null   object
 1   Producto         1050 non-null   object
 2   Cantidad         1050 non-null   int64
 3   Precio Unitario  1050 non-null   int64
 4   Total Venta      1050 non-null   int64
dtypes: int64(3), object(2)
memory usage: 41.1+ KB

In [5]:
df_concat.describe()

          Cantidad  Precio Unitario  Total Venta
count  1050.000000      1050.000000  1050.000000
mean      5.490476        64.428571   349.761905
std       2.882577        72.437522   473.870983
min       1.000000        10.000000    10.000000
25%       3.000000        20.000000    70.000000
50%       5.000000        30.000000   150.000000
75%       8.000000        50.000000   400.000000
max      10.000000       200.000000  2000.000000

In [6]:
df_concat['Fecha'] = pd.to_datetime(df_concat['Fecha'], format = '%m/%d/%Y')
df_concat['Precio Unitario'] = df_concat['Precio Unitario'].astype(float)
df_concat['Total Venta'] = df_concat['Total Venta'].astype(float)
df_concat

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0    2023-01-17  Electrónic         7            200.0       1400.0
1    2023-09-01  Electrónic         8            200.0       1600.0
2    2023-07-29    Juguetes         3             30.0         90.0
3    2023-10-04   Alimentos         4             10.0         40.0
4    2023-02-28  Electrónic         6            200.0       1200.0
...         ...         ...       ...              ...          ...
1045 2023-09-11    Juguetes        10             30.0        300.0
1046 2023-01-03    Juguetes        10             30.0        300.0
1047 2023-11-07   Alimentos         3             10.0         30.0
1048 2023-08-20  Electrónic         6            200.0       1200.0
1049 2023-07-21    Juguetes         3             30.0         90.0

[1050 rows x 5 columns]

## 4. Análisis de ventas

### 4.1. Producto más vendido

In [7]:
top_1 = df_concat.groupby('Producto')['Cantidad'].sum().idxmax()
top_1

'Alimentos'

### 4.2. Mes con más ventas en $$

In [8]:
meses = []
for fec in df_concat['Fecha']:
    meses.append(fec.month)

df_concat['Mes'] = pd.Series(meses)
df_concat.head()

       Fecha    Producto  Cantidad  Precio Unitario  Total Venta  Mes
0 2023-01-17  Electrónic         7            200.0       1400.0    1
1 2023-09-01  Electrónic         8            200.0       1600.0    9
2 2023-07-29    Juguetes         3             30.0         90.0    7
3 2023-10-04   Alimentos         4             10.0         40.0   10
4 2023-02-28  Electrónic         6            200.0       1200.0    2

In [9]:
mes_top1 = df_concat.groupby('Mes')['Total Venta'].sum().idxmax()
mes_top1

np.int64(8)

## 5. Análisis por categoria

In [10]:
df_concat.groupby('Producto')['Total Venta'].sum()

Producto
Alimentos      12620.0
Electrónic    244000.0
Juguetes       33390.0
Libros         20840.0
Ropa           56400.0
Name: Total Venta, dtype: float64

In [11]:
df_concat.to_csv('Proyecto2.csv')
df_concat

          Fecha    Producto  Cantidad  Precio Unitario  Total Venta  Mes
0    2023-01-17  Electrónic         7            200.0       1400.0    1
1    2023-09-01  Electrónic         8            200.0       1600.0    9
2    2023-07-29    Juguetes         3             30.0         90.0    7
3    2023-10-04   Alimentos         4             10.0         40.0   10
4    2023-02-28  Electrónic         6            200.0       1200.0    2
...         ...         ...       ...              ...          ...  ...
1045 2023-09-11    Juguetes        10             30.0        300.0    9
1046 2023-01-03    Juguetes        10             30.0        300.0    1
1047 2023-11-07   Alimentos         3             10.0         30.0   11
1048 2023-08-20  Electrónic         6            200.0       1200.0    8
1049 2023-07-21    Juguetes         3             30.0         90.0    7

[1050 rows x 6 columns]